extends template.pug
include navbar.pug
block content
    +navbar()
    .index-content
        .grid-index
            .grid-index-1-1
                p АРЕНДА АВТО <br>В ДУБАЕ
            .grid-index-1-2
                p Люкс, спорт, бизнес автомобили <br>для отдыха и работы.<br><br>Встречаем из аэропорта при бронировании любого авто <br>на 3 дня и более!
            .grid-index-2-2
                img(src="img/main.png")
            .grid-index-1-3
                p.font-700 150
                hr
                p.font-100 первоклассных машин в нашем парке
            .grid-index-2-3
                p.font-700 7 лет
                hr
                p.font-100 на рынке проката в Дубае
            .grid-index-3-3
                p.font-700 $10M
                hr
                p.font-100 общая стоимость нашего парка
            .grid-index-1-4
                img(src="img/Rolls-Royce_Cullinan.jpeg")
                p.font-400-28 Rolls-Royce Cullinan BB
                br
                p.font-100 Мощность: 600 л.с. 
                    <br> Разгон до 100км/ч: 4.9 секунд 
                    <br> Максимальная скорость: 250 км/ч
                br
                p.font-400-28 День: 6020 AED
                br
                p.font-400-28 $1 640
                br
                p.index-button 
                    a(href="#") Забронировать
            .grid-index-1-5
                img(src="img/Ferrari_F8_Spider_20.jpeg")
                p.font-400-28 Ferrari F8 Spider
                br
                p.font-100 Мощность: 720 л.с. 
                    <br> Разгон до 100км/ч: 2.9 секунд 
                    <br> Максимальная скорость: 340 км/ч
                br
                p.font-400-28 День: 4490 AED
                br
                p.font-400-28 $1 230
                br
                p.index-button 
                    a(href="#") Забронировать
            .grid-index-1-6
                img(src="img/Mercedes_Benz_G63_20.jpeg")
                p.font-400-28 Mercedes-Benz G63
                br
                p.font-100 Мощность: 585 л.с. 
                    <br> Разгон до 100км/ч: 4.5 секунд 
                    <br> Максимальная скорость: 240 км/ч
                br
                p.font-400-28 День: 2530 AED
                br
                p.font-400-28 $690
                br
                p.index-button 
                    a(href="#") Забронировать