mixin navbar()
    .navbar
        .grid-nav
            .grid-nav-block1
                ul
                    li
                        img(src="img/logo.png")
                    li
                        a(href="index.html") Главная
                    li
                        a(href="brands.html") Бренды
                    li
                        a(href="topcars.html") Лучшие автомобили 
                    li
                        a(href="listofcars.html") Список всех автомобилей
            .grid-nav-block2
                ul
                    li
                        a(href="#") Блог
                    li
                        a(href="#") Условия аренды
                    li
                        a(href="#") FAQ
            .grid-nav-block3
                ul
                    li
                        a(href="#") О компании
                    li
                        a(href="#") Контакты
                    li
                        a(href="#") En
                    li
                        a(href="#") Rus