extends template.pug
include navbar.pug
block content
    +navbar()
    .topcars-content
        .grid-topcars
            .grid-topcars-1-1
                p.font-700-55 Lamborghini URUS
                br
                p.font-700-35 3990 AED | $ 1090 за сутки
                br
                p.font-100 Характеристики автомобиля:<br><br>Кузов: Спорткар, Внедорожник<br>Тип двигателя: Бензин<br>Объём двигателя: 3996 куб. см.<br>Мощность: 650 л.с.<br>Разгон до 100 км/ч: 3.6 секунды<br>Максимальная скорость: 305 км/ч<br>Трансмиссия: АКПП 8
            .grid-topcars-1-2
                img(src="img/Lamborghini_Urus_1.jpeg")
            .grid-topcars-2-2
                p.font-700-55 Mercedes-Benz AMG-GT R
                br
                p.font-700-35 2170 AED | $ 590 за сутки
                br
                p.font-100 Характеристики автомобиля:<br><br>Кузов: Спорткар, Внедорожник<br>Тип двигателя: Бензин<br>Объём двигателя: 3996 куб. см.<br>Мощность: 650 л.с.<br>Разгон до 100 км/ч: 3.6 секунды<br>Максимальная скорость: 305 км/ч<br>Трансмиссия: АКПП 8
            .grid-topcars-2-1
                img(src="img/Mercedes_GTr_01.jpeg")
            .grid-topcars-3-1
                p.font-700-55 McLaren 720S
                br
                p.font-700-35 4040 AED | $ 1100 за сутки
                br
                p.font-100 Характеристики автомобиля:<br><br>Кузов: Спорткар, Внедорожник<br>Тип двигателя: Бензин<br>Объём двигателя: 3996 куб. см.<br>Мощность: 650 л.с.<br>Разгон до 100 км/ч: 3.6 секунды<br>Максимальная скорость: 305 км/ч<br>Трансмиссия: АКПП 8
            .grid-topcars-3-2
                img(src="img/McLaren_720S_2020_1.jpeg")